@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
}

.wrapper {
  min-height: 708px;
  width: 100%;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 80px;
  }
}

header {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
  .blur {
    position: absolute;
    width: 306px;
    height: 80px;
    z-index: 1;
    background-color: #fff;
    filter: blur(10px);
    left: -53px;
    border-radius: 50%;
  }
  .logo {
    position: relative;
    z-index: 2;
  }
}

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 25px;
  margin-top: 15px;
  h1 {
    position: absolute;
    top: 0;
    width: 100%;
    font-weight: 900;
    font-size: 56px;
    line-height: 68px;
    text-transform: uppercase;
    color: #118976;
    text-shadow: 2px 2px 0px #ffffff;
    margin: 0;
    max-width: 656px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    max-width: 656px;
    .benefits {
      .benefits__item {
        display: flex;
        align-items: center;
        max-width: 353px;
        width: 100%;
        .benefits__text {
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
          color: #333333;
          margin-left: 25px;
        }
      }
      .benefits__item + .benefits__item {
        margin-top: 50px;
      }
    }
  }

  .order-form {
    max-width: 368px;
    width: 100%;
    min-height: 553px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 24px 34px 24px 32px;
    text-align: center;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #333333;
      margin: 0;
    }
    .price {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 110%;
      text-align: center;
      letter-spacing: -0.01em;
      color: #ff2c2c;
      display: flex;
      flex-direction: column;
      margin-top: 12px;
      span {
        margin-top: 4px;
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 42px;
        text-align: center;
        color: #ff2c2c;
      }
    }
    select {
      margin-top: 88px;
      width: 100%;
      border: 1px solid #089c84;
      box-sizing: border-box;
      border-radius: 2px;
      padding: 15px 20px 16px 20px;
      appearance: none;
      background-image: url(../images/down.svg);
      background-repeat: no-repeat;
      background-position: right 20px top 50%;
      border: 1px solid #089c84;
      border-radius: 2px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 116.75%;
      color: #333333;
      cursor: pointer;
    }
    input {
      margin-top: 12px;
      width: 100%;
      border: 1px solid #089c84;
      box-sizing: border-box;
      border-radius: 2px;
      padding: 15px 20px 16px 20px;
      border: 1px solid #089c84;
      border-radius: 2px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 116.75%;
      color: #333333;
    }
    button {
      margin-top: 21px;
      background: #ff272b;
      box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      max-width: 254px;
      width: 100%;
      min-height: 56px;
      border: none;
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer;
    }
    .note {
      margin-top: 16px;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #828282;
      width: 100%;
    }
  }
}

@media (max-width: 1216px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .content {
    margin-top: 179px;
  }
  .order-form {
    margin-top: 74px;
  }
  header {
    justify-content: center;
    .blur {
      left: calc(50% - 153px);
    }
  }
  select {
    margin-top: 53px !important;
  }
}

@media (max-width: 725px) {
  .content {
    flex-direction: column;
    align-items: center !important;
    margin-top: 42px;
  }
  h1 {
    position: relative !important;
    font-size: 40px !important;
    line-height: 50px !important;
    text-align: center;
  }
  .benefits__item + .benefits__item {
    margin-top: 30px !important;
  }
  .bottle-img {
    margin-top: 40px;
  }
}

@media (max-width: 485px) {
  .content {
    flex-direction: column;
    align-items: center !important;
    margin-top: 32px;
  }
  h1 {
    font-size: 32px !important;
    line-height: 40px !important;
    max-width: 255px !important;
    text-align: center;
  }
  .benefits__item + .benefits__item {
    margin-top: 20px !important;
  }
  .benefits__text {
    font-size: 18px !important;
    line-height: 24px !important;
  }
  .container {
    padding: 0 15px !important;
  }
  main {
    margin-top: 8px;
  }
}
